@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

  --colorDark: #111;
  --colorBlack: #000;
  --colorWhite: #fff;
  --colorGreen: #46d369;
  --colorDarkGray: #999;
  --colorLightGray: #ccc;
  --colorDarkMedium: #141414;
}


*{
  box-sizing: border-box;
}


body{
  background-color: var(--colorDark);
  color: var(--colorWhite);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists{
  margin-top: -150px;
}

footer{
  margin: 50px 0;
  text-align: center;
}

.loading{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: var(--colorBlack);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img{
  height: 400px;
}